<div class="contain">

  <div class="Homepage">

    <div style="display: inline-block;">

      <img class="MainImg" src="https://img.freepik.com/free-vector/appointment-booking-with-smartphone_23-2148564871.jpg?t=st=1729793789~exp=1729797389~hmac=c2a7238ac442b0e4601e7573a2823c0985c67057f46172401d23df7f13fe3373&w=740" alt="Image">

    </div>

    <div class="titleTag">

      <div>

        <h1><span style="font-size: 78px;" class="playwrite-gb-s">Welcome To</span> <br> Registration Form</h1>

      </div>

      <div>

        <button class="btn btn-primary" type="submit">Start Now</button>

      </div>

    </div>

  </div>

</div>